@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-500: #3571a6;
  --color-brand-600: #254b83;
  --color-brand-700: #193a63;



  /* The default font is'Raleway Display'. it is imported as localFont in the root layout.tsx*/
  --font-raleway: 'Raleway Display', var(--font-inter), sans-serif, Arial, Helvetica;
  --font-mono: var(--font-geist-mono);


  /*
   * Font weights are mapped to the `--font-weight-*` namespace.
   */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /*
   * Typography scale
   * (Base font size is 16px)
   */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

/* if user is in dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Includes sans-serif, Arial, Helvetica] as fallbacks */
  font-family: var(--font-raleway);
}

